[submodule "rooster-contracts"]
	path = rooster-contracts
	url = git@github.com:RoosterDao/rooster-contracts.git
	branch = swanky-node
[submodule "swanky-node"]
	path = swanky-node
	url = git@github.com:AstarNetwork/swanky-node.git
[submodule "rooster-dao-ui"]
	path = rooster-dao-ui
	url = git@github.com:RoosterDao/rooster-dao-ui.git
	branch = rooster-dao-ui-prototype
[submodule "contracts-ui-with-nft-viewer"]
	path = contracts-ui-with-nft-viewer
	url = git@github.com:RoosterDao/contracts-ui-with-nft-viewer.git
